// color
$main-blue: #4C7AC2;
$dark-blue: #2B3042;
$text-blue: #5481F3; 

// breakpoint
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint560: 560 + px;
$breakpoint480: 480 + px;